.contact-us-container {
  height: 700px;
  color: #fff;
  background-color: #212130;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Contact-left {
  display: flex;
  align-items: center;
}
.Contact-right {
  width: 50%;
}

.dev-left {
  width: 50%;
}
.contact-left-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 150px;
  background-color: #18385f;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
}

/* ======================== */
.Contact-right form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.Contact-right label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Contact-right input[type="text"],
.Contact-right input[type="email"],
.Contact-right input[type="tel"],
.Contact-right textarea {
  width: 500px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Contact-right textarea {
  height: 120px;
}

.Contact-right input[type="submit"] {
  width: 500px;
  height: 50px;
  background-color: #212130;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Contact-right input[type="submit"]:hover {
  background-color: #18385f;
  width: 500px;
  height: 50px;
}
