.contact-us-container {
  height: 700px;
  color: #fff;
  background-color: #212130;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Contact-left {
  display: flex;
  align-items: center;
}
.Contact-right {
  width: 50%;
}

.dev-left {
  width: 50%;
}
.contact-left-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 150px;
  background-color: #f93a0b;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
}

/* ======================== */

.Contact-right label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Contact-right input[type="text"],
.Contact-right input[type="email"],
.Contact-right input[type="tel"],
.Contact-right textarea {
  width: 500px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact-us-textarea {
  height: 200px;
}
#contact-us-form-container {
  width: 500px;
}
@media only screen and (max-width: 767px) {
  .Contact-left {
    flex-direction: column;
    margin: 50px 0;
  }

  .dev-left {
    width: 100%;
  }
  .contact-left-container {
    width: auto;
  }
  #contact-us-form-container {
    width: 400px;
  }
  #contact-us-textarea {
    width: 400px;
    height: 200px;
  }
}
