/* CSS for Login Page */
.toy-container {
  /* width: 500px; */
  margin: 0 auto;
  padding: 20px;
  margin-top: 90px;
}

.toy-container h1 {
  text-align: center;
}

.toy-container form {
  margin-top: 20px;
}

.toy-container label,
.toy-container button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.toy-container label {
  font-weight: bold;
}

.toy-container button {
  font-size: 20px;
  height: 50px;
  color: #fff;
  background-color: #073453;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.toy-container button:hover {
  background-color: #02162f;
}

textarea {
  height: 300px;
  padding: 10px;
}
.flex {
  display: flex;
}

.toy-container input,
textarea {
  display: block;
  font-size: 20px;
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #02162f;
  outline: none;
}
.toy-container input:focus,
textarea:focus {
  border: 1px solid #36e0f7;
}

@media screen and (max-width: 768px) {
  .flex {
    display: block;
  }
  textarea,
  .toy-container input {
    width: 400px;
  }
  .select {
    width: 400px;
  }
}
