* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* table  */
.table-container {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 50px 0;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4b7c9c34;
}
tr:nth-child(odd):hover {
  color: #fff;
  background-color: #17171e;
}
tr:first-child {
  color: #212130;
  background-color: #2fc8df;
}
tr:first-child:hover {
  color: #212130;
  background-color: #2fc8df;
}
/* table end */
/* SPINNER */
:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 95%);
  --fg: hsl(var(--hue), 90%, 5%);
  --trans-dur: 0.3s;
}

main {
  padding: 1.5em 0;
}
.ip {
  width: 16em;
  height: 8em;
}
.ip__track {
  stroke: hsl(var(--hue), 90%, 90%);
  transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
  animation: worm1 2s linear infinite;
}
.ip__worm2 {
  animation-name: worm2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 5%);
    --fg: hsl(var(--hue), 90%, 95%);
  }
  .ip__track {
    stroke: hsl(var(--hue), 90%, 15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }
  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -358;
  }
}

/* SPINNER */

/* TABS  */
.ActiveTabST {
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  background-color: #F93A0B;
  color: #fff;
}

.activeTab {
  color: #000;
  background-color: #fff;
}
/* TABS  */

/* GELLaRY CONTAINER  */
.image-gallery {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(0, 1fr);
}

.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #36e0f7;
}
/* GELLaRY CONTAINER  */

/* SINGLE-TOY-DETAILS */
.single-toy-details {
  display: flex;
  margin: 50px;
}
.single-toy-details-right,
.single-toy-details-left {
  width: 500px;
  margin-left: 40px;
  height: 350px;
}

.single-toy-details-left img {
  margin-left: -70px;
  height: 300px;
  width: 500px;
}

.fontSize {
  font-size: 20px;
  margin-top: 20px;
}
/* SINGLE-TOY-DETAILS */

/* CARD */
.cardFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow-x: hidden;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 200px;
  height: 200px;
  margin-right: 30px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card .rating {
  color: #ff9800;
  margin-bottom: 10px;
}

.card button {
  font-size: 16px;
  display: inline-block;
  color: #fff;
  background-color: #f93a0b;
  border: none;
  margin-top: 20px;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
/* CARD */

/* REQUEST A PRO SELLER */
.req-rom {
  width: 50%;
  margin: 50px auto;
}
.form-group {
  margin-bottom: 20px;
}

.req-rom label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.req-rom input {
  font-size: 20px;
  padding: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #212130;
  border-radius: 5px;
  outline: none;
}
.req-rom input:focus {
  border: 1px solid #36e0f7;
}

.req-rom button:hover {
  background-color: #17171e;
}
/* REQUEST A PRO SELLER */

/* AOS  PACK*/
.AOS-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #212130;
  padding: 20px;
  height: 500px;
}

.AOS-content-left {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  line-height: 40px;
}

.AOS-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #17171e;
  padding: 20px;
  height: 500px;
}
.AOS-content-right {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  line-height: 40px;
}
.AOS-container {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* AOS  PACK*/

/* MY-TOY-CONTAINER */
.ascending {
  font-size: 20px;
  padding: 10px 30px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #f93a0b;
  margin-right: 5px;
}
.ascending:hover {
  background-color: #17171e;
}
.my-toys-button-container {
  margin-top: 30px;
  text-align: center;
}
/* MY-TOY-CONTAINER */

/* ERROR */

.error-image {
  width: 100%;
  height: 100vh;
}

.error-btn {
  font-size: 40px;
  background-color: #139ef8;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-size: bold;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  top: 89%;
  left: 40%;
}
/* ERROR */

/* BLOG  */
.blog-container {
  border: 1px solid #212130;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.heading-blog {
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  color: #17171e;
}
.blog-para {
  font-size: 20px;
  margin-top: 15px;
}
/* BLOG  */

/* ===================================== Media ================================== */
@media screen and (max-width: 768px) {
  /* FORM  */
  .req-rom {
    width: 80%;
  }
  /* FORM  */

  /* AOS  */
  .AOS-left {
    display: block;
    height: auto;
    padding-bottom: 50px;
  }
  .AOS-right {
    display: block;
    height: auto;
    padding-top: 50px;
  }
  /* AOS  */

  /* SINGLE-TOY-DETAILS */
  .single-toy-details {
    display: block;
  }
  .single-toy-details-right {
    width: auto;
  }
  .single-toy-details-left {
    width: auto;
  }
  .single-toy-details-left img {
    margin-left: -70px;
    height: 300px;
    width: auto;
  }
  /* SINGLE-TOY-DETAILS */

  /* ERROR */
  .error-btn {
    font-size: 20px;
    left: 35%;
  }
  /* ERROR */
}
