.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #02162f;
  padding: 0 50px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.Banner-left {
  width: 50%;
  color: #fff;
}

.banner-left-heading {
  margin-top: 100px;
  font-size: 60px;
  height: 350px;
}

.Banner-left p {
  font-size: 20px;
  margin-top: 20px;
}

/* ================= right =============== */
.Banner-right {
  text-align: center;
}
.banner-img {
  width: 600px;
}
.text-slider {
  height: 500px;
}
/* ================= responsive =============== */
@media screen and (max-width: 768px) {
  .banner-container {
    display: block;
    height: auto;
    padding-top: 30px;
  }
  .Banner-left {
    width: 100%;
  }

  .Banner-right {
    width: 100%;
    order: 1;
  }
  .banner-left-heading {
    margin-top: 100px;
    font-size: 40px;
    height: 230px;
  }
  .banner-img {
    width: auto;
    margin-left: -50px;
  }
}
